.layout{
  width: 70%;
  margin: 0 auto;
}
#popup-overlay {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}
.col-style{
  margin: 0 auto;
}
.video-grid-circle {
  float: left;
  width: 19.04vw;
    height: 19.04vw;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border:solid 1px #e1ddd5;
  margin-right: 3%;
  margin-bottom: 0.5em;
  border-radius: 50%;
  text-align: center;
}

.video-grid-circle-style{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.upload_video_style_circle{
  width: 25%;
  padding-top: 34%;
  
}
@media (min-width:320px) and (max-width:414px){
  .layout{
      margin: 1% 12%;
  }
  .col-style{
    padding:0px;
  }
  .video-grid-circle {
      float: left;
      width: 47%;
      height: 31.66vw;
      overflow: hidden;
      box-shadow: 2px 2px 5px 0px #e1ddd5;
      margin-right: 3%;
      margin-bottom: 0.5em;
      border-radius: 50%;
  }
}

@media (min-width:415px) and (max-width:767px){
  .layout{
      margin: 1% 12%;
  }
  .col-style{
    padding:0px;
  }
  .video-grid-circle {
      float: left;
      width: 31.8vw;
      height: 31.8vw;
      overflow: hidden;
      box-shadow: 2px 2px 5px 0px #e1ddd5;
      margin-right: 3%;
      margin-bottom: 0.5em;
      border-radius: 50%;
  }
}


@media (min-width:768px) and (max-width:1199px){
  .layout{
      margin: 2% 16%;
  }
  .video-grid-circle {
      float: left;
      width: 45%;
      height: 29.68vw;
      overflow: hidden;
      box-shadow: 2px 2px 5px 0px #e1ddd5;
      margin-right: 3%;
      margin-bottom: 0.5em;
      border-radius: 50%;
  }
}


/* <<<<<<grid soft corner video>>>>>>>>>>>>>>>>>> */

.video-grid-softCorner {
  float: left;
  width: 19.04vw;
    height: 19.04vw;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border:solid 1px #e1ddd5;
  margin-right: 3%;
  margin-bottom: 0.5em;
  border-radius: 16px;
  text-align: center;
}
.video-grid-softCorner-style{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.upload_video_style_softCorner{
  width: 25%;
  padding-top: 34%;
  
}
@media (min-width:320px) and (max-width:414px){
  .layout{
      width: 70%;
      margin: 1% 12%;
  }
  .col-style{
    padding:0px;
  }
  .video-grid-softCorner {
     
      width: 47%;
      height: 31.66vw;
      
  }
}
@media (min-width:415px) and (max-width:767px){
  .layout{
    width: 70%;
    margin: 1% 12%;
  }
  .col-style{
    padding:0px;
  }
  .video-grid-softCorner {
    
    width: 31.8vw;
      height: 31.8vw;
    
  }
}
@media (min-width:768px) and (max-width:1199px){
  .layout{
      
      margin: 2% 16%;
  }
  .video-grid-softCorner {
     
      width: 45%;
      height: 29.68vw;
      
  }
}


/* <<<<<<grid sharp corner video>>>>>>>>>>>>>>>>>> */

.video-grid-sharpCorner {
  float: left;
  width: 19.04vw;
    height: 19.04vw;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border:solid 1px #e1ddd5;
  margin-right: 3%;
  margin-bottom: 0.5em;
  border-radius: 3px;
  text-align: center;
}
.video-grid-sharpCorner-style{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.upload_video_style_sharpCorner{
  width: 25%;
  padding-top: 34%;
  
}
@media (min-width:320px) and (max-width:414px){
  .layout{
      width: 70%;
      margin: 1% 12%;
  }
  .col-style{
    padding:0px;
  }
  .video-grid-sharpCorner {
     
    width: 47%;
    height: 31.66vw;
      
  }
}
@media (min-width:415px) and (max-width:767px){
  .layout{
    width: 70%;
    margin: 1% 12%;
  }
  .col-style{
    padding:0px;
  }
  .video-grid-sharpCorner {
    
    width: 31.8vw;
      height: 31.8vw;
      
  }
}

@media (min-width:768px) and (max-width:1199px){
  .layout{
      
      margin: 2% 16%;
  }
  .video-grid-sharpCorner {
     
    width: 45%;
    height: 29.68vw;
      
  }
}

/* <<<<<<one below other video>>>>>>>>>>>>>>>>>> */

.video-grid-one-below-other {
  
  width: 93%;
  height: 274px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  border-radius: 3px;
  text-align: center;
  
}
.video-grid-one-below-other-style{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.upload_video_style_one-below-other{
  width: 25%;
  padding-top:17%;
  
}
@media (min-width:320px) and (max-width:414px){
  .layout{
      width: 70%;
      margin: 1% 12%;

  }
  .col-style{
    padding:0px;
  }
  .ul-video-grid-one-below-other-style{
    padding-left: 26px;
  }
  .video-grid-one-below-other {
     
    width: 98%;
    height: 42.5vw;
    margin: 0 auto;
  }
}
@media (min-width:415px) and (max-width:767px){
  .layout{
    width: 70%;
    margin: 1% 12%;

  }
  .col-style{
    padding:0px;
  }
  .ul-video-grid-one-below-other-style{
    padding-left: 26px;
  }
  .upload_video_style_one-below-other{
    width: 13%;
    padding-top: 13%;
    
  }
  .video-grid-one-below-other {
    
    width: 98%;
    height: 227px;
    margin: 0 auto;
  }
}
@media (min-width:768px) and (max-width:1199px){
  .layout{
      
      margin: 2% 16%;
  }
  .video-grid-one-below-other {
     
      width: 45%;
      height: 30.001vw;
      margin: 0 auto;
  }
}


.modal-dialog {
  max-width: 800px;
  /* margin:236px auto; */
  top:23%;
}
.modal-position{
  padding:15px;
}
.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right: -14px;
  top: -19px;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#000;
  opacity:1;
}