.layout{
    width: 100%;
    margin: 0 auto;
  }
  /* <<<<<<<<<<<<<<<<<<<SMALL CIRCLE>>>>>>>>>>>>>>>>>>>>> */
.image-circle-small {
    height: 82px;
    width: 82px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    text-align: center;

    border-radius: 50%;
  }
  .image-circle-small-button{
    padding: 40%;
    font-size: 1em;
  }
  
  .image-circle-small-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-circle-small {
      height: 122px;
      width: 122px;
    }
  }
/* <<<<<<<<<<<<<<<<<<<SMALL medium>>>>>>>>>>>>>>>>>>>>> */
  .image-circle-medium {
    height: 160px;
    width: 160px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 50%;
  }
  .image-circle-medium-button{
    padding: 46%;
    font-size: 1em;
  }
  .image-circle-medium-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  @media (min-width: 1201px) {
    .image-circle-medium {
      height: 200px;
      width: 200px;
    }
  }

  .image-circle-large {
    height: 250px;
      width: 250px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 50%;
  }
  .image-circle-large-button{
    padding: 48%;
    font-size: 1em;
  }
  .image-circle-large-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-circle-large {
      height: 290px;
        width: 290px;
    }
  }
  .image-circle-extraLarge {
    height: 330px;
    width: 330px;
    margin: 5% auto;
    box-shadow: 2px 5px 10px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 50%;
  }
  .image-circle-extraLarge-button{
    padding: 48%;
    font-size: 1em;
  }
  .image-circle-extraLarge-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-circle-extraLarge {
      height: 370px;
      width: 370px;
    }
  }
  .image-square-small {
    height: 90px;
    width: 90px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    
  }
  .image-square-small-button{
    padding: 41%;
    font-size: 1em;
  }
  .image-square-small-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-square-small {
      height: 130px;
      width: 130px;
    }
  }
  .image-square-medium {
    height: 140px;
    width: 140px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    
  }
  .image-square-medium-button{
    padding: 44%;
    font-size: 1em;
  }
  .image-square-medium-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-square-medium {
      height: 190px;
      width: 190px;
    }
  }
  .image-square-large {
    height: 220px;
    width: 220px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    
  }
  .image-square-large-button{
    padding: 47%;
    font-size: 1em;
  }
  .image-square-large-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-square-large {
      height: 260px;
      width: 260px;
    }
  }
  .image-square-extraLarge {
    height: 320px;
    width: 320px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    
  }
  .image-square-extraLarge-button{
    padding: 48%;
    font-size: 1em;
  }
  .image-square-extraLarge-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-square-extraLarge {
      height: 360px;
      width: 360px;
    }
  }
  .image-square-fullScreen {
  height: 320px;
  width: 320px;
  margin: 5% auto;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  
}
.image-square-fullScreen-button{
  padding: 49%;
    font-size: 1em;
}
.image-square-fullScreen-style {
 
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 320px) {
  .image-square-fullScreen {
    height: 320px;
    width: 320px;
  }
}
@media (min-width: 360px) {
  .image-square-fullScreen {
    height: 360px;
    width: 360px;
  }
}
@media (min-width: 375px) {
  .image-square-fullScreen {
    height: 375px;
    width: 375px;
  }
}
@media (min-width: 411px) {
  .image-square-fullScreen {
    height: 411px;
    width: 411px;
  }
}
.image-softCorner-small {
    height: 82px;
    width: 82px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 24%;
  }
  .image-softCorner-small-button{
    padding: 41%;
    font-size: 1em;
  }
  .image-softCorner-small-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-softCorner-small {
      height: 122px;
      width: 122px;
    }
  }
  .image-softCorner-medium {
    height: 160px;
    width: 160px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 20%;
  }
  .image-softCorner-medium-button{
    padding: 46%;
    font-size: 1em;
  }
  .image-softCorner-medium-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-softCorner-medium {
      height: 200px;
      width: 200px;
    }
  }
  .image-softCorner-large {
    height: 250px;
      width: 250px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 15%;
  }
  .image-softCorner-large-button{
    padding: 48%;
    font-size: 1em;
  }
  .image-softCorner-large-style {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-softCorner-large {
      height: 290px;
        width: 290px;
    }
  }
  .image-softCorner-extraLarge {
    height: 330px;
    width: 330px;
    margin: 5% auto;
    box-shadow: 2px 5px 10px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    border-radius: 10%;
  }
  .image-softCorner-extraLarge-button{
    padding: 48%;
    font-size: 1em;
  }
  .image-softCorner-extraLarge-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-softCorner-extraLarge {
      height: 370px;
      width: 370px;
    }
  }
  .image-verticle-fullScreen {
    height: 597px;
    width: 320px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
  }
  .image-verticle-fullScreen-button{
    padding-top: 90%;
    padding-left: 43%;
    font-size: 1em;

  }
  .image-verticle-fullScreen-style {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .image-rectangle-large {
    height: 250px;
    width: 100%;
    margin: 5% auto;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    /* border-radius: 15%; */
  }
  .image-rectangle-large-style {
    width: 100%;
    height: 100%;
    /* -o-object-fit: cover; */
    object-fit: unset;
  }
  .image-rectangle-small {
    height: 210px;
    width: 320px;
    margin: 5% auto;
    box-shadow: 2px 5px 10px 0px #e1ddd5;
    border: solid 1px #e1ddd5;
    overflow: hidden;
    /* /border-radius: 10%; */
  }
  .image-rectangle-small-style {
    
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (min-width: 1201px) {
    .image-rectangle-small {
      height: 390px;
      width: 795px;
    }
  }


  .image-circle-style{
    width: 70%;
    height: 30vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border-radius: 50%;
}
.image-squareSharp-style{
  width: 70%;
    height: 30vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    /* border-radius: 50%; */
}
  .image-square-style{
    width: 76%;
    height: 30vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border-radius: 25px;
}



.upload_image_style_circle{
  position: absolute;
    z-index: 1;
    width: 31px;
    top: 44%;
    left: 23%;
}
.upload_image_style_squareSharp{
  position: absolute;
  z-index: 1;
  width: 31px;
  top: 44%;
  left: 23%;
}
.upload_image_style{
  position: absolute;
    z-index: 1;
    width: 31px;
    top: 42%;
    left: 22%;
}
/* .image_style2{
    height: 519px;
} */
.ul_imageStyle{
    list-style-type: none;
    padding-left: 3%;
    padding-top: 6%;
    
}
.ul_imageStyle1{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.column {
    float: left;
    width: 49.33%;
    padding: 2%;
    text-align: center;
    
}
.imageRow::after {
    content: "";
    clear: both;
    display: table;
}
@media (min-width: 1201px) {
    .image-square-style{
      width: 100%;
    height: 32vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    }
    .image-circle-style{
      width: 100%;
      height: 32vw;
      object-fit: cover;
      border: solid 1px #e1ddd5;
      box-shadow: 2px 2px 5px 0px #e1ddd5;
      border-radius: 50%;
  }
  .image-squareSharp-style{
    width: 100%;
    height: 32vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
}
    .column {
      width: 42.33%;
    }
    .ul_imageStyle{
        margin-left: 12%;
    }
}
@media (min-width: 1200px) {
  .ul_imageStyle1{
    display: none;
  }

}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<one below other>>>>>>>>>>>>>>>>>>>>>> */
.image-oneBelow-other{
  border: solid 1px #000;
}

.column-image-oneBelow-other-style {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.image-oneBelow-other-style {
  margin-top: 12px;
}
.image-oneBelow-other-button{
  padding: 48%;
    font-size: 1em;
}
.row-after:after{
  content: "";
  display: table;
  clear: both;
}
.image-oneBelow-other-ul-style{
  list-style-type: none;
  padding-left: 0px;
}
@media (min-width: 411px) {
  .image-oneBelow-other{
    height: 375px;
    width: 375px !important;
    margin: 0 auto !important;
  }
  .image-oneBelow-other-style {
    height: 375px;
    width: 375px !important;
    object-fit: cover;
  }
 
}
@media (min-width: 375px) {
  .image-oneBelow-other{
    height: 358px;
    width: 358px !important;
    margin: 0 auto !important;
  }
  .image-oneBelow-other-style {
    height: 358px;
    width: 358px !important;
    object-fit: cover;
  }
 
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<image Carousal>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.carousel-image{
  width: 100%;
  height: 244px;
  border: solid 1px #000;
  margin-bottom: 5%;
}
.image-carousel-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-carousel-button{
  padding-top: 30%;
    font-size: 1em;
}
.controll_trensation{
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.carousel .carousel-indicators li {
  width: 1.625rem;
  height: 1.625rem;
  margin-left: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width : 1200px){
  .carousel-image{
    width: 100%;
    height: 493px;
  }
  .image-carousel-style {
    
    object-fit: cover;
  }
  .carousel-inner {
    position: relative;
    width: 231%;
    overflow: hidden;
  }
  .carousel-control-next {
    right: -758px;
}
.carousel-indicators {
 
  left: 110%;
}
.corusal-display{
  display: none;
}
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Video circular galery>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.video-circle-style{
  width: 70%;
  height: 30vw;
  object-fit: cover;
  border: solid 1px #e1ddd5;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border-radius: 50%;
}
.upload_video_style_circle{
  position: absolute;
    z-index: 1;
    width: 31px;
    top: 44%;
    left: 23%;
}

.ul_videoStyle-circle{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.ul_videoStyle-circle-empty{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.column-circle-video {
  float: left;
  width: 49.33%;
  height: 44vw;
  padding: 2%;
  text-align: center;
  
}
.videoRow-circle::after {
  content: "";
  clear: both;
  display: table;
}
@media (min-width: 1201px) {
  
  .video-circle-style{
    width: 100%;
    height: 32vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border-radius: 50%;
}

  .column-circle-video {
    width: 42.33%;
    height: 34vw;
  }
  .ul_videoStyle-circle{
      margin-left: 12%;
  }
}
@media (min-width: 1200px) {
.ul_videoStyle-circle-empty{
  display: none;
}

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<video soft corner>>>>>>>>>>>>>>>>>> */
.video-softCorner-style{
  width: 70%;
  height: 30vw;
  object-fit: cover;
  border: solid 1px #e1ddd5;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border-radius: 25%;
}
.upload_video_style_softCorner{
  position: absolute;
    z-index: 1;
    width: 31px;
    top: 44%;
    left: 23%;
}

.ul_videoStyle-softCorner{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.ul_videoStyle-softCorner-empty{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.column-softCorner-video {
  float: left;
  width: 49.33%;
  padding: 2%;
  text-align: center;
  
}
.videoRow-softCorner::after {
  content: "";
  clear: both;
  display: table;
}
@media (min-width: 1201px) {
  
  .video-softCorner-style{
    width: 100%;
    height: 32vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    border-radius: 15%;
}

  .column-softCorner-video {
    width: 42.33%;
  }
  .ul_videoStyle-softCorner{
      margin-left: 12%;
  }
}
@media (min-width: 1200px) {
.ul_videoStyle-softCorner-empty{
  display: none;
}

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<sharp edge video>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.video-sharpEdge-style{
  width: 70%;
  height: 30vw;
  object-fit: cover;
  border: solid 1px #e1ddd5;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  /* border-radius: 25%; */
}
.upload_video_style_sharpEdge{
  position: absolute;
    z-index: 1;
    width: 31px;
    top: 44%;
    left: 23%;
}

.ul_videoStyle-sharpEdge{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.ul_videoStyle-sharpEdge-empty{
  list-style-type: none;
  padding-left: 3%;
  padding-top: 6%;
  
}
.column-sharpEdge-video {
  float: left;
  width: 49.33%;
  padding: 2%;
  text-align: center;
  
}
.videoRow-sharpEdge::after {
  content: "";
  clear: both;
  display: table;
}
@media (min-width: 1201px) {
  
  .video-sharpEdge-style{
    width: 100%;
    height: 32vw;
    object-fit: cover;
    border: solid 1px #e1ddd5;
    box-shadow: 2px 2px 5px 0px #e1ddd5;
    /* border-radius: 15%; */
}

  .column-sharpEdge-video {
    width: 42.33%;
  }
  .ul_videoStyle-sharpEdge{
      margin-left: 12%;
  }
}
@media (min-width: 1200px) {
.ul_videoStyle-sharpEdge-empty{
  display: none;
}

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<,,one below othr video>>>>>>>>>>>>>>>>>> */
.video-oneBelow-other{
  border: solid 1px #000;
}

.column-video-oneBelow-other-style {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.video-oneBelow-other-style {
  margin-top: 12px;
}
.video-oneBelow-other-button{
  padding: 48%;
    font-size: 1em;
}
.row-after:after{
  content: "";
  display: table;
  clear: both;
}
.video-oneBelow-other-ul-style{
  list-style-type: none;
  padding-left: 0px;
}
@media (min-width: 411px) {
  .video-oneBelow-other{
    height: 375px;
    width: 375px !important;
    margin: 0 auto !important;
  }
  .video-oneBelow-other-style {
    height: 375px;
    width: 375px !important;
    object-fit: cover;
  }
 
}
@media (min-width: 375px) {
  .video-oneBelow-other{
    height: 358px;
    width: 358px !important;
    margin: 0 auto !important;
  }
  .video-oneBelow-other-style {
    height: 358px;
    width: 358px !important;
    object-fit: cover;
  }
 
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<,,button filll>>>>>>>>>>>>>>>>>>>/ */
.align-button{
  text-align: center;
  margin: 0 auto;
}
.button-fill-sharp-style{
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 2px;
  margin-bottom: 5%;
}
.button-fill-circle-style{
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 50px;
  margin-bottom: 5%;
}
.button-fill-softEdge-style{
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 15px;
  margin-bottom: 5%;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<outlined button>>>>>>>>>>>>>>> */
.button-outlined-sharpEdge-style{
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 2px;
  margin-bottom: 5%;
}
.button-outlined-circle-style{
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 50px;
  margin-bottom: 5%;
}
.button-outlined-softEdge-style{
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 15px;
  margin-bottom: 5%;
}
.button-gradient-sharpEdge-style{
  background: linear-gradient(40deg,#f31023,#7b1d92);
  width: 333px;
  height: 45px;
  font-size: 1.4em;
  border-radius: 2px;
  margin-bottom: 5%;
  color:#ffff;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<,,,video>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.video-circle {
  height: 330px;
  width: 330px;
  margin: 5% auto;
  box-shadow: 2px 5px 10px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 50%;
}
.video-circle-button{
  padding: 48%;
  font-size: 1em;
}
.video-circle-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 1201px) {
  .video-circle {
    height: 370px;
    width: 370px;
  }
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<softcorner rec video>>>>>>>>>>>>>>>>>>>>>>>>>> */
.video-softCorner-rectangle {
  height: 200px;
  width: 320px;
  margin: 5% auto;
  box-shadow: 2px 5px 10px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 50px;
  text-align: center;
}
.video-softCorner-rectangle-button{
  padding-top: 27%;
  font-size: 1em;
}
.video-softCorner-rectangle-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 1201px) {
  .video-softCorner-rectangle {
    height: 250px;
    width: 420px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<sharp edges>>>>>>>>>>>>>>>>>>>>>>video */
.video-sharpEdges-rectangle {
  height: 200px;
  width: 320px;
  margin: 5% auto;
  box-shadow: 2px 5px 10px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  text-align: center;
}
.video-sharpEdges-rectangle-button{
  padding-top: 27%;
  font-size: 1em;
}
.video-sharpEdges-rectangle-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ytp-expand-pause-overlay .ytp-pause-overlay {
  
  display: none !important;
}
.ytp-pause-overlay {
 
  display: none;
}
@media (min-width: 1201px) {
  .video-sharpEdges-rectangle {
    height: 250px;
    width: 420px;
  }
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<,video with input>>>>>>>>>>>>>>>>>> */
.card-video {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 75%;
  margin:5% auto;
}

.card-video:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}