.col-style{
  padding-right: 0px; 
   padding-left: 0px;
  text-align: -webkit-center;
}
/* >>>>>>>>>>>>>>IMAGE */

.image-circle-small {
  height: 82px;
  width: 82px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 50%;
}
.image-circle-small-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-circle-medium {
  height: 160px;
  width: 160px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 50%;
}
.image-circle-medium-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-circle-large {
  height: 250px;
    width: 250px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 50%;
}
.image-circle-large-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-circle-extraLarge {
  height: 330px;
  width: 330px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 5px 10px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 50%;
}
.image-circle-extraLarge-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


/* >>>>>>>>>>>>>>>>>>>>>>>SQUARE */


.image-square-small {
  height: 90px;
  width: 90px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  
}
.image-square-small-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-square-medium {
  height: 140px;
  width: 140px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  
}
.image-square-medium-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-square-large {
  height: 220px;
  width: 220px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  
}
.image-square-large-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-square-extraLarge {
  height: 320px;
  width: 320px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  
}
.image-square-extraLarge-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-square-fullScreen {
  height: 320px;
  width: 320px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  
}
.image-square-fullScreen-style {
 
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 320px) {
  .image-square-fullScreen {
    height: 320px;
    width: 320px;
  }
}
@media (min-width: 360px) {
  .image-square-fullScreen {
    height: 360px;
    width: 360px;
  }
}
@media (min-width: 375px) {
  .image-square-fullScreen {
    height: 375px;
    width: 370px;
  }
}
@media (min-width: 411px) {
  .image-square-fullScreen {
    height: 411px;
    width: 411px;
  }
}
@media (min-width: 1200px) {
  .image-square-fullScreen {
    height: 1200px;
    width: 1200px;
  }
}

/* <<<<<<<<<<softCorner>>>>>>>>>>>>>>>>>> */

.image-softCorner-small {
  height: 82px;
  width: 82px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 24%;
}
.image-softCorner-small-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-softCorner-medium {
  height: 160px;
  width: 160px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 20%;
}
.image-softCorner-medium-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-softCorner-large {
  height: 250px;
    width: 250px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 2px 5px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 15%;
}
.image-softCorner-large-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-softCorner-extraLarge {
  height: 330px;
  width: 330px;
  margin: 5% 0 5% 0;
  box-shadow: 2px 5px 10px 0px #e1ddd5;
  border: solid 1px #e1ddd5;
  overflow: hidden;
  border-radius: 10%;
}
.image-softCorner-extraLarge-style {
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
